body {
    margin: 0;
    background-color: #708090;
}

img.backBTN {
    width: 50px;
    height: auto; 
    display: block;
}

.backBTN:hover {
    background-color: skyblue;
}

.columnFlexWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#biographies {
    display: flex;
    flex-direction: column;
}

.bioWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    height: 400px;
    margin-bottom: 200px;
}


.bioPic {
    width: 300px;
    height: auto;
    border: 2px solid white;
}

.role {
    margin-top: 10px;
    font-size: 12pt;
    font-weight: bold;
}

.name {
    font-size: 15pt;
    font-style: italic;
}

.bio {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10pt;
}


@media only screen and (orientation:landscape) {
    #biographies {
        flex-direction: row;
    }
    
    .bioWrap {
        margin-bottom: 10px;
    }
    
    .bioPic {
        width: 15vw;
        height: auto;
    }
    .bio {
        margin-bottom: 15px;
    }
    
}



