 body {
        background-color:rgb(109, 107, 107);
        text-align: center;
        font-size: 20pt;
        margin: 25px;
        width: 100vw;
        height: 100vh;
      }
      .row {
        box-sizing: border-box;
      }
      .column {
        float:left;
        text-align: center;
        background-color: black;
        color: white;
        width: 50%;
      }
     
      #image {
        background-color: white;
        padding: 25px;
        height: 50vh;
      }
      #div {
        padding: 25px;
        text-align: center;
        background-color: lightblue;
        color:white;
      }
      .button {
        background-color: black;
        width: 50vw;
        height: 120px;
        font-size: 22pt;
        color:white;
        border-radius: 20px;
      }
      .button:hover {
        background-color: green;
        color:aqua;
      }
      .bar {
        width: 90px;
        height: 15px;
        background-color:black;
        margin: 12px;
      }
      
      #rowtable1 {
        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: lightgray;
        height:150px;
            }
       #rowtable2 {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
            }          
      #rectangle1 {
        width: 85vw;
        color:aliceblue;
        font-size: 25pt;
            }
      #rectangle2 {
        width: 15vw;
        color:aliceblue;
        text-align: justify;
        padding-top: 30px;
            }
      .rectangle3 {
        width: 10vw;
        height: 750px;
        display: flex;
        align-items: center;
            }
      #rectangle4 {
        width: 80vw;
        height: 750px;
        text-align: center;
            }
  
      .line{
        width:100vw;
        height:30px;
        background-color:rgb(143, 140, 140);
      }  
