body {
	font-size: 20pt;
	width: 100vw;
		
}
#row3 {
	display:flex;
	flex-direction: row;
	background-color:white;
	width: 100vw;
	height: 115px;
	align-content: center;
	align-items: center;
}
#rectangle1 {
	width:100vw;
	height: 120px;
	text-align: center;	
	background-color:#0173BC;	
	padding-top:15px;
	color:white;	
}

.container {
   width: 100vw;
   height: 44vh;
   display: flex;
   align-items: center;
}

#rectangle5 {
   width: 50vw;
   height: 50vh;
   align-items: center;
   text-align: left;
   background-color: #F3F9FB;
   color:white;
   font-size: 15pt;
   padding-top:25px;
   display:none;
   overflow:scroll;
		}

.button {
	background-color:#0173BC;
	width: 50vw;
	height: 100px;
	font-size: 25pt;
	color:white;
	border-radius: 20px;
}
.button:hover {
	background-color: green;
	color:aqua;
    cursor:pointer;
}
.line{
	width:100vw;
	height:15px;
	background-color:#F3F9FB;
} 
#div {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
	background-color: #F3F9FB;
	color:black;
	width:97.5vw;
	height:38vh;
	font-size:35pt;
	overflow:scroll;
	padding-left: 25px;
	
} 

.left{position:absolute;
	top:32%;left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
	font-size:50pt;
}
.right{position:absolute;
	top:32%;right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	 font-size:50pt;
	}
.black:hover{
	color:#fff!important;
	background-color:#0173BC!important;
    cursor: pointer;
}
.h2 {
text-align:center;
}

@media only screen and (orientation:landscape) {
 * { font-size: 1.3rem; }
 
#div {
	display:none;
}
#rectangle5 {
	display: block;
	font-size:16pt;
	height:340px;
	color:black;
	overflow-x: scroll;
	padding-left: 25px;
}
#row2 {
	display:flex;
	flex-direction: row;
	background-color: white;
	width: 100vw;
	height: 370px;
	align-content: center;
	align-items: center;		
	}
.left{position:absolute;
	top:55%;left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
	 font-size:20pt;
	}
.right{position:absolute;
	top:55%;right:50%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	 font-size:20pt;
	}
.container {
	width: 50vw;
	height: 75vh;
	display: flex;
	align-items: center;
	overflow: hidden;
 }
#rectangle1 {
	width:100vw;
	height: 60px;
	text-align: center;	
	background-color:#0173BC;	
	padding-top:5px;	
}
.button {
	background-color:#0173BC;
	width: 50vw;
	height: 55px;
	font-size: 17pt;
	color:white;
	border-radius: 20px;
}
#row3 {
	display:flex;
	flex-direction: row;
	background-color:white;
	width: 100vw;
	height: 35px;
	align-content: center;
	align-items: center;
}
.mySlides {
	width: 590px;
	height:371px;
}
.line{
	height:6px;
}
.h2 {
	text-align:center;
	}
img.backbtn {
width:50px;
height:50px;
}
	

}			
			
			
			
			
			
			
			
			
		