
body {
    margin: 0;
}
#container {
    width: 100%;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightgrey;
}
#startGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#topHomeBackground {
width: 100%;
}
#rectangle {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 25%;
    background-color: black;
    width: 50%;
    height: 100px;
    margin: 0 auto;
    opacity: .50;
}
#rectangle a {
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    opacity: 0.95;
    font-size: 3em;
    z-index: 1;
}
#profileStore {
    display: flex;
    flex-direction: column;
    height: 80px;
}
.profile {
    display: flex;
    clip-path: polygon(0 0, 0 50%, 100% 0);
    background-image: url(../pics/Home_Pics/walking_man_edited2.jpg);
    height: 250px;
}
.profile a {
    font-size: 2.5em;
    color: white;
    position: relative;
    left: 14%;
    bottom: 40px; 
    z-index: 1;
}
.store {
    display: flex;
    clip-path: polygon(100% 0, 0 50%, 100% 50%);
    background-image: url(../pics/Home_Pics/profile_black_edited.jpg);
    height: 250px;
    position: relative;
    bottom: 124px;
}
.store a {
    font-size: 2.5em;
    color: white;
    position: relative;
    bottom: 20px;
    left: 65%;
    z-index: 1;
    
}
.startGameLink:hover {
    text-decoration: underline;
}
.profileLink:hover{
    text-decoration: underline;
}
.storeLink:hover {
    text-decoration: underline;
}
#scheduleContainer {
    display: flex;
    background-color: #970009;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 12px;
    height: 300px;
}
.scheduleTitle {
    display: flex;
    justify-content:center;
    color: white;
    width: 100%;
    border-radius: 12px;
    background-color: black;
    height: 40px;
}
.scheduleTitle p {
    display: flex;
    align-items: center;
    font-size: 18pt
}
#friendsContainer {
    display: flex;
    flex-direction: row;
    background-color: #970009;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 12px;
    height: 300px;
}
#middleline {
    width: 50%;
    border-right: 1px solid black;
}
.friendsTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    height: 40px;
    background: black;
}
.recentlyPlayedTitle {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 12px;
    height: 40px;
    background: black;
}
#friendsContainer p {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18pt;
}
.lowerWrapper {
    background-color: grey;
}




@media only screen and (min-width: 1080px){
    #profileStore {
        display: none;
    }
    
    .lowerWrapper {
        width: 100%;
        margin: 0 auto;
    }
    .scheduleANDFriendsContainer {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #scheduleContainer {
        width: 33.5%;
        margin: 0;
        border-right:1px solid black;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    #friendsContainer {
        width: 66.5%;
        margin: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .scheduleTitle {
        width: 100%;
        
    }
    .friendsTitle {
    }
    #topHomeBackground {
        height: 408px;
    }
    
}



