@media only screen and (min-width: 400px) and (max-width: 1079px){
    .navi-bar-desktop {
        display: none;
    }
    navi-bar-mobile [
    color: white;
    ]
    
    
}

@media only screen and (min-width: 1080px){
    header {
        display: flex;
        width: 100%;
        height: 45px;
    }
    .navi-bar-desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 22pt;
        width: 100%;
    }
    .navi-bar-desktop a {
        display: flex;
        margin-right: 3%;
        align-items: center;
    }
    .navi-bar-desktop div:hover {
        text-decoration: underline;
        background-color: midnightblue;
        color:aliceblue;
    }
    .navi-bar-mobile {
        display: none;
    }
}