#row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px; 
    background-color:#0173BC; 
    text-align:center;
    color:white;
}
#rectangle1 {
    width: 100vw;
    font-size: 22pt;
    
}
#rectangle2 {
    width: 20vw;
    padding-top:30px;
}
.bar {
    width: 90px;
    height:15px;
    background-color: black;
    margin:12px;
}
#map {
    width: 100%;
    height: 95vh;
    background-color:lightblue;
    display:flex;
    
}
#popup {
    display: none;
    background:white;
    border:1px solid black;
    width:25%;
    height:20vh;
    float:right;
    font-size: 20pt;
    text-align: center;   
}

#participants { 
    background: white;
    border: 1px solid black;
    overflow-y: auto;
    width:60vw;
    height: 55vh;
    margin: auto; 
    z-index: 30000;
}

.participants { 
    background: white;
    display: none;
    border: 1px solid black;
    font-size: 45pt;
    width:60vw;
    height: 70vh;
    margin: auto; 
    z-index: 30000;
}

.matchDetails {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25pt;
    overflow-y: auto;
}

.players {
    margin-top: 10px;
    text-align: center;
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

ul.scrollable {
    height: 50%;
    width: 100%;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    flex: 1;
}

.joinButton {
    font-size: 30pt;
    background-color:green;
    margin-top: 25px;
    margin-right: 10px;
    text-align: center;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    color:white;
    margin-bottom: 25px;
    padding-top:10px;
}

.joinText {
    margin: 0 auto;
}


.playerDetail {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background-color: lightgray;  
}

#rectangle3 {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
@media only screen and (orientation:landscape) {
    * { font-size: 1rem; }
    #row {
        display:none;
    }
    .playerDetail {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        background-color: lightgray;  
    }
    .joinButton {
        font-size: 20pt;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        }  
    .matchDetails {
        height: 250px;
    }
}
