body {
    background-color: darkgrey;
    
}
#row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px; 
    background-color:#0173BC; 
    text-align:center;
    color:white;
}
#rectangle1 {
    width: 100vw;
    font-size: 22pt;
    
}
#rectangle2 {
    width: 20vw;
    padding-top:30px;
}
.bar {
    width: 90px;
    height:15px;
    background-color: black;
    margin:12px;
}
#map {
    width: 100%;
    height: 95vh;
    background-color:lightblue;
    display:flex;
    
}
#popup {
    display: none;
    background:white;
    border:1px solid black;
    width:25%;
    height:20vh;
    float:right;
    font-size: 20pt;
    text-align: center;   
}

#participants { 
    background: lightgrey;
    border: 1px solid black;
    width:60vw;
    height: 50vh;
    margin: auto; 
}
#rectangle3 {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
@media only screen and (orientation:landscape) {
    * { font-size: 0.7rem; }
    #row {
        display:none;
    }
}
